---
import "@/styles/global.css";
import { Hero13 } from "@/components/sections/Hero13";
import { About15 } from "@/components/sections/About15";
import { Gallery25 } from "@/components/sections/Gallery25";
import { PricingAccordion } from "@/components/sections/PricingAccordion";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sewing at Aga's</title>
  </head>
  <body>
    <Hero13 />
    <About15 />
    <Gallery25 client:visible />
    <PricingAccordion client:visible />
  </body>
</html>
