---
// src/pages/index.astro
import "@/styles/global.css";
import { Navbar21 } from "@/components/sections/Navbar21";
import { Hero13 } from "@/components/sections/Hero13";
import { About15 } from "@/components/sections/About15";
import { HowToImplement } from "@/components/sections/HowToImplement";
import { Gallery25 } from "@/components/sections/Gallery25";
import { PricingAccordion } from "@/components/sections/PricingAccordion";
import { Feature284 } from "@/components/sections/Feature284";
import { Cta1 } from "@/components/sections/Cta1";
import { Testimonial7 } from "@/components/sections/Testimonial7";
import { LocationMap } from "@/components/sections/LocationMap";
import { Contact16 } from "@/components/sections/Contact16";
import { Footer30 } from "@/components/sections/Footer30";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sewing at Aga's</title>
  </head>
  <body class="[&_h2]:!text-5xl [&_h2]:!font-medium [&_h2]:!tracking-tight">
    <Navbar21 client:load />
    <Hero13 client:load />

    <HowToImplement className="bg-white" />
    <About15 />
    <Gallery25 className="bg-white" client:visible />
    <section id="services">
      <Feature284 className="bg-white" client:visible />
    </section>
    <PricingAccordion className="bg-white" client:visible />
    <Cta1 className="bg-white" client:visible />
    <Testimonial7 className="bg-white" client:visible />
    <LocationMap />
    <Contact16 />
    <Footer30 className="bg-white" />
  </body>
</html>
