---
import "@/styles/global.css";
import { Navbar21 } from "@/components/sections/Navbar21";
import { Footer30 } from "@/components/sections/Footer30";
import { Feature284 } from "@/components/sections/Feature284";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Services | Sewing at Aga's</title>
  </head>
  <body>
    <Navbar21 client:load />
    <Feature284 />
    <Footer30 />
  </body>
</html>
